[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
uvicorn = "*"
sqlalchemy = "*"
fastapi = {extras = ["all"], version = "*"}
passlib = {version = "*", extras = ["bcrypt"]}
python-jose = {version = "*", extras = ["cryptography"]}

[dev-packages]

[requires]
python_version = "3.11"
